.OrderListItem {
  height: 270px;
  width: 200px;
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  //text-align: center;
  //display: flex;
  //align-items: center;

  div {
    width: 185px;
    margin-left: 15px;
    text-align: left;
    font-size: 1rem;
  }
  .reservenum {
    width: 185px;
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
  }
  .info1 {
    width: 185px;
    margin-left: 15px;
    text-align: left;
    font-size: 1rem;
  }
  button {
    border: none;
    outline: none;
    color: white;
    background-color: #6e6e6e;
    margin-right: 3px;
    cursor: pointer;
  }
  .gotoplan {
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: #0174df;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 1rem;
  }
  .ticketdelete {
    border: none;
    outline: none;
    background-color: transparent;
    color: #6e6e6e;
    text-decoration: underline;
    margin-left: 50px;
    cursor: pointer;
    &:hover {
      color: #0174df;
    }
  }
}
