.PlanListItem {
  height: 200px;
  width: 200px;
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  text-align: left;
  //text-align: center;
  //display: flex;
  //align-items: center;

  .time {
    width: 185px;
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
  }
  .info1 {
    width: 185px;
    margin-left: 15px;
    text-align: left;
    font-size: 1rem;
  }
  button {
    border: none;
    outline: none;
    color: white;
    background-color: #6e6e6e;
    margin-left: 38px;
    cursor: pointer;
  }
  .gotoseat {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 43px;
    font-size: 1rem;
  }
}
