li {
  height: 250px;
  width: 200px;
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  text-align: left;
  //text-align: center;
  //display: flex;
  //align-items: center;
  .gotoplan {
    margin-top: 20px;
  }
  .time {
    width: 185px;
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
  }
  .info1 {
    width: 185px;
    margin-left: 15px;
    text-align: left;
    font-size: 1rem;
  }
}
