.Movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .moviecreate {
    margin-bottom: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #0174df;
    }
  }
  .Bar {
    width: 800px;
    background: black;
    height: 4px;
    margin-bottom: 40px;
  }
  .select-dropdown {
    height: 40px;
    width: 800px;
    position: absolute;
    top: 120px;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    display: flex;
    padding-left: 25px;
    div {
      float: left;
      margin-left: 5px;
      margin-right: 2px;
    }
    &:hover {
      cursor: pointer;
    }
    .select-item {
      margin-top: 0.25rem;
      &.selected {
        font-weight: bold;
        color: #0174df;
      }
      &:hover {
        font-weight: bold;
        color: #0174df;
      }
    }
  }
  .TxList {
    z-index: 10;
    width: 800px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    .Filter {
      height: 35px;
      width: 100px;
      background-color: white;
      border-radius: 8px;
      border: 1px solid #eaeaea;
      font-size: 0.8rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      .Category {
        flex: 1;
      }
      svg {
        align-items: right;
        font-size: 1.3rem;
        margin-right: 0.5rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
