.Pay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .Bar {
    width: 600px;
    background: black;
    height: 4px;
    margin-bottom: 5px;
  }
  .MovieName {
    width: 600px;
    text-align: right;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  form {
    margin-top: 2%;
    display: flex;
    width: 500px;
    flex-direction: column;
    text-align: left;
    .body {
      border-radius: 10px;
      border: 1px solid #eaeaea;
      padding: 15px;
      padding-left: 20px;
      width: 460px;
      background-color: white;
      margin-bottom: 30px;
      input {
        width: 350px;
        height: 20px;
        background: none;
        font-size: 1.2rem;
        outline: none;
        border: none;
        color: black;
        margin-bottom: 3px;
      }
      #id {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    input {
      background: none;
      height: 40px;
      font-size: 1.2rem;
      margin-bottom: 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
    }

    .text {
      float: left;
      margin-bottom: 30px;
      margin-top: 11px;
      margin-right: 20px;
    }

    #final {
      float: left;
      height: 40px;
      margin-bottom: 50px;
      margin-right: 7px;
    }

    button {
      color: white;
      margin-bottom: 50px;
      background-color: #0174df;
      height: 50px;
      font-size: 1.2rem;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #eaeaea;
      cursor: pointer;
    }
  }
}
