.Plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Bar {
    width: 700px;
    background: black;
    height: 4px;
    margin-bottom: 30px;
  }
  .select-dropdown {
    height: 40px;
    width: 530px;
    position: absolute;
    top: 120px;
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    display: flex;
    padding-left: 25px;
    div {
      float: left;
      margin-left: 5px;
      margin-right: 20px;
    }
    &:hover {
      cursor: pointer;
    }
    .select-item {
      margin-top: 0.25rem;
      &.selected {
        font-weight: bold;
        color: #0174df;
      }
      &:hover {
        font-weight: bold;
        color: #0174df;
      }
    }
  }
  .TxList {
    width: 700px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    z-index: 1;
  }
  .plancreate {
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #0174df;
    }
  }
  .gotoplanall {
    margin-bottom: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #0174df;
    }
  }
}
