.Plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Bar {
    width: 700px;
    background: black;
    height: 4px;
    margin-bottom: 30px;
  }
  .TxList {
    width: 700px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    z-index: 1;
  }
  .plancreate {
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #0174df;
    }
  }
  .gotoplanall {
    margin-bottom: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: #0174df;
    }
  }
}
