.Seat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .theater {
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 770px;
    font-size: 0.9rem;
    font-weight: bold;
    width: 30px;
    justify-content: right;
    align-items: right;
  }
  .Screen {
    margin-bottom: 40px;
    width: 800px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #6e6e6e;
    color: #6e6e6e;
    height: 25px;
    background: #bdbdbd;
  }
  .SeatItem {
    width: 700px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    z-index: 1;
    .FakeItem {
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      background-color: transparent;
    }
    .RealSeatItem {
      width: 30px;
      height: 30px;
      font-size: 0.3rem;
      cursor: pointer;
      &:focus {
        background-color: #4b088a;
        color: white;

        //&:hover {
        //  background: white;
        //  color: darkorange;
        //}
      }
    }
  }
  .gototicket {
    margin-top: 40px;
    margin-left: 650px;
    color: white;
    background-color: #0174df;
    height: 35px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    cursor: pointer;
  }
}
