.Seat {
  //display: flex;
  justify-content: center;
  align-items: center;
  .Bar {
    width: 800px;
    background: black;
    height: 4px;
    margin-bottom: 30px;
  }
  .Number {
    margin-left: 750px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #4b088a;
  }
  .Screen {
    width: 800px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #6e6e6e;
    color: #6e6e6e;
    height: 25px;
    background: #bdbdbd;
  }
  .TxList {
    width: 800px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    z-index: 1;
  }
  button {
    &.active {
      background-color: #4b088a;
      color: white;

      //&:hover {
      //  background: white;
      //  color: darkorange;
      //}
    }
  }
}
