.Customer {
  //display: flex;
  justify-content: center;
  .Bar {
    width: 800px;
    background: black;
    height: 4px;
    margin-bottom: 30px;
  }
  .TxList {
    width: 800px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    z-index: 1;
  }
}
