.Ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Bar {
    width: 600px;
    background: black;
    height: 4px;
    margin-bottom: 30px;
  }

  form {
    margin-top: 2%;
    display: flex;
    width: 550px;
    height: 100px;
    flex-direction: column;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    padding: 15px;
    .body {
      width: 550px;
      .info {
        float: left;
        width: 350px;
        input {
          width: 350px;
          background: none;
          font-size: 1.2rem;
          outline: none;
          border: none;
          color: black;
        }
        #id {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
      .intostorage {
        margin-top: 10px;
        margin-left: 420px;
        button {
          color: white;
          background-color: #0174df;
          height: 80px;
          font-size: 1.2rem;
          width: 120px;
          border-radius: 8px;
          border: 1px solid #eaeaea;
          cursor: pointer;
        }
      }
      .intro {
        margin-top: 50px;
        margin-bottom: 15px;
        font-size: 1.1rem;
        font-weight: bold;
      }
      #customerrrn {
        width: 65px;
        background: none;
        font-size: 1rem;
        margin-bottom: 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
      }
      #customermn {
        width: 110px;
        background: none;
        font-size: 1rem;
        margin-bottom: 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }
}
