.Ticket_All {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Bar {
    width: 700px;
    background: black;
    height: 4px;
    margin-bottom: 30px;
  }
  .TxList {
    width: 700px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    z-index: 1;
  }
}
